
body{
    font-family: Corbel;
    height: 100vh;
    background: linear-gradient(180deg, rgba(180,199,220,1) 0%, rgba(214,224,235,1) 100%);
}

.glavni{
    display: flex;
    flex-direction: column;
}

table{
    padding: 50px;
}

td{
    padding: 15px;
    font-size: 50px;
}


.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: RoyalBlue;
}