<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test task</title>
    <link th:href="@{indexIzgled.css}" rel="stylesheet" />
</head>

<body>



<div class="glavni">

    <div class="poruka" th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

<div class="upload">
    <div>
        <h3> *Choose "txt" type of file, and get compressed version "avda" file, or choose "avda" and get decompressed version "txt" file to download</h3>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <div class="file-input">
            <input type="file" name="file" id="file" class="file">
            <label for="file">Select file</label>
        </div>
        <div class="submit-btn"><input class="btn" type="submit" value="Upload file" /></div>
    </form>
</div>


<div class="download"  th:if="${fileNamePath}" >

    <form method="get" th:action="${fileNamePath}">
        <button class="btn-download" type="submit">Download!</button>
    </form>

</div>

</div>

</body>

</html>